<div class="row">
    <h1>Lista De Proyectos</h1>
    <div class="col-lg-1"></div>
   <div class="col-lg-11">
    <ul>
        <li>
            <h1>Proyecto 1</h1>- 
            <h3>(years)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi at possimus sit amet quod ut dolore natus
              temporibus voluptas rerum odio quae ipsum illum vitae omnis, eveniet perspiciatis beatae ea!
            </p>
        </li>
        <li>
            <h1>Proyecto 2</h1>- 
            <h3>(years)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi at possimus sit amet quod ut dolore natus
              temporibus voluptas rerum odio quae ipsum illum vitae omnis, eveniet perspiciatis beatae ea!
            </p>
        </li>
        
    </ul>
   </div>
</div>
