<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/newExp" *ngIf="isLogged">Nueva Experiencia</button>
    </div>
    <div class="lg 1"></div>
    <div class="col-lg-11">
      <table class="table">
        <tbody >
          <tr *ngFor="let experiencia of experiencias">
            <td>{{experiencia.nombreEx}}</td>
            <td>{{experiencia.descripcionEx}}</td>            
            <td>
              <i class="bi bi-pen-fill">EDITAR</i>
            </td>
            <td>BORRAR</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>