<!--
    para igresar una imagen
        [imageSrc]=""
        [showImage]=""
        [imageHeight]=""
        [imageWidth]=""
        [showUnits]=""
        [showSubtitle]=""
-->

<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 co-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/img/html.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgb(246, 118, 38)'"
        [innerStrokeColor]="'rgb(87, 182, 245)'"
        [animation]="true"
        [animationDuration]="900"
      >
      </circle-progress>
    </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/img/css.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgb(17, 99, 241)'"
        [innerStrokeColor]="'rgb(87, 182, 245)'"
        [animation]="true"
        [animationDuration]="900"
      >
      </circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/img/javascript.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgb(241, 237, 17)'"
        [innerStrokeColor]="'rgb(87, 182, 245)'"
        [animation]="true"
        [animationDuration]="900"
      >
      </circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/img/ts.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'rgb(87, 182, 245)'"
        [animation]="true"
        [animationDuration]="900"
      >
      </circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/img/java.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'rgb(87, 182, 245)'"
        [animation]="true"
        [animationDuration]="900"
      >
      </circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/img/bootstrap.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'rgb(87, 182, 245)'"
        [animation]="true"
        [animationDuration]="900"
      >
      </circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/img/git.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgb(220, 57, 7)'"
        [innerStrokeColor]="'rgb(87, 182, 245) '"
        [animation]="true"
        [animationDuration]="900"
      >
      </circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/img/github2.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgb(7, 96, 220)'"
        [innerStrokeColor]="'rgb(87, 182, 245)'"
        [animation]="true"
        [animationDuration]="900"
      >
      </circle-progress>
      </div>
</div>
