img{
    padding: 2px;
    margin: 2px;
    width: 30px;
    height: 30px;
    background-color: rgb(87, 182, 245);
    border-radius: 100%;
}
div{
    background: rgb(5, 18, 39);
    color: rgb(87, 182, 245);
}